<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo" />
                <span class="logo-text">Pizzafy.</span>
            </div>
            <nav class="sidebar-nav">
                <span class="sidebar-nav__link">
                    Главная
                </span>
                <span class="sidebar-nav__link">
                    Категории
                </span>
                <span class="sidebar-nav__link">
                    Товары
                </span>
                <span class="sidebar-nav__link">
                    Заказы
                </span>
            </nav>
            <p class="sm-text">&copy;2025, Pizzafy. Все права защищены</p>
        </div>
        <div class="content">
            <section class="block">
                <div class="container">
                    <h1 class="title">Вы действительно хотите удалить категорию "name"?</h1>
                    <p class="mb-5">
                        Это действие приведет к потере всех данных, связанных с этими категориями. Пожалуйста, подтвердите свое решение.
                    </p>
                    <form class="actions-sm">
                        <button type="submit" class="btn bg-danger">
                            Да
                        </button>
                        <span class="btn bg-primary">
                            Нет
                        </span>
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>
</html>