<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo" />
                <span class="logo-text">Pizzafy.</span>
            </div>
            <nav class="sidebar-nav">
                <span class="sidebar-nav__link">
                    Главная
                </span>
                <span class="sidebar-nav__link">
                    Категории
                </span>
                <span class="sidebar-nav__link">
                    Товары
                </span>
                <span class="sidebar-nav__link">
                    Заказы
                </span>
            </nav>
            <p class="sm-text">&copy;2025, Pizzafy. Все права защищены</p>
        </div>
        <div class="content">
           <section class="block">
                <div class="container">
                    <h1 class="title">Админ панель</h1>
                    <div class="dashboard-list">
                        <span class="dashboard-item bg-primary">
                            <img src="./images/menu/home.svg" alt="Home" />
                            <h3 class="dashboard-item__title">Главная</h3>
                        </span>
                        <span class="dashboard-item bg-warning">
                            <img src="./images/menu/categories.svg" alt="Category" />
                            <h3 class="dashboard-item__title">Категории</h3>
                        </span>
                        <span class="dashboard-item bg-danger">
                            <img src="./images/menu/products.svg" alt="Products" />
                            <h3 class="dashboard-item__title">Товары</h3>
                        </span>
                        <span class="dashboard-item bg-success">
                            <img src="./images/menu/orders.svg" alt="Orders" />
                            <h3 class="dashboard-item__title">Заказы</h3>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>