<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo" />
                <span class="logo-text">Pizzafy.</span>
            </div>
            <nav class="sidebar-nav">
                <span class="sidebar-nav__link">
                    Главная
                </span>
                <span class="sidebar-nav__link">
                    Категории
                </span>
                <span class="sidebar-nav__link">
                    Товары
                </span>
                <span class="sidebar-nav__link">
                    Заказы
                </span>
            </nav>
            <p class="sm-text">&copy;2025, Pizzafy. Все права защищены</p>
        </div>
        <div class="content">
            <section class="block">
                <div class="container">
                    <span class="btn bg-danger">Назад</span>
                    <h1 class="title">Детали заказа</h1>
                    <div class="order-detail">
                        <p><strong>Имя клиента: </strong>name</p>
                        <p><strong>Телефон клиента: </strong>phone</p>
                        <p><strong>Почта клиента: </strong>email</p>
                        <p><strong>Город, адрес: </strong>city, address</p>
                        <div class="order-data">
                            <h2 class="title">Товары для заказа</h2>
                            <div class="order-data__list">
                                <p>Пеперони, количество: quantity, цена: price &#8376;, итого: price &#8376;</p>
                                <p>Пеперони, количество: quantity, цена: price &#8376;, итого: price &#8376;</p>
                            </div>
                        </div>
                        <h2 class="title">Итого: total &#8376;</h2>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>