<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo" />
                <span class="logo-text">Pizzafy.</span>
            </div>
            <nav class="sidebar-nav">
                <span class="sidebar-nav__link">
                    Главная
                </span>
                <span class="sidebar-nav__link">
                    Категории
                </span>
                <span class="sidebar-nav__link">
                    Товары
                </span>
                <span class="sidebar-nav__link">
                    Заказы
                </span>
            </nav>
            <p class="sm-text">&copy;2025, Pizzafy. Все права защищены</p>
        </div>
        <div class="content">
            <section class="block">
                <div class="container">
                    <span class="btn bg-danger">Назад</span>
                    <h1 class="title">Детали товара</h1>
                    <div class="product-detail">
                        <img src="https://fakeimg.pl/500x500" alt="" class="product-img" />
                        <div class="product-detail__content">
                            <h2 class="product-detail__title">name</h2>
                            <p>Цена: price &#8376;</p>
                            <p>Описание: description</p>
                            <p>Категория: <span class="category-badge">category</span></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>