<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo" />
                <span class="logo-text">Pizzafy.</span>
            </div>
            <nav class="sidebar-nav">
                <span class="sidebar-nav__link">
                    Главная
                </span>
                <span class="sidebar-nav__link">
                    Категории
                </span>
                <span class="sidebar-nav__link">
                    Товары
                </span>
                <span class="sidebar-nav__link">
                    Заказы
                </span>
            </nav>
            <p class="sm-text">&copy;2025, Pizzafy. Все права защищены</p>
        </div>
        <div class="content">
            <section class="block">
                <div class="container">
                    <div class="block-header">
                        <h1 class="title">Товары</h1>
                        <span class="btn bg-primary">Создать</span>
                    </div>
                    <table class="table">
                        <thead>
                            <th>№</th>
                            <th>Название</th>
                            <th>Действие</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>id</td>
                                <td>name</td>
                                <td colspan="3" class="actions-products" style="border: none;">
                                    <span class="btn bg-success">Смотреть</span>
                                    <span class="btn bg-warning">Изменить</span>
                                    <span class="btn bg-danger">Удалить</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main>
</body>
</html>