<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo" />
                <span class="logo-text">Pizzafy.</span>
            </div>
            <nav class="sidebar-nav">
                <span class="sidebar-nav__link">
                    Главная
                </span>
                <span class="sidebar-nav__link">
                    Категории
                </span>
                <span class="sidebar-nav__link">
                    Товары
                </span>
                <span class="sidebar-nav__link">
                    Заказы
                </span>
            </nav>
            <p class="sm-text">&copy;2025, Pizzafy. Все права защищены</p>
        </div>
        <section class="content">
            <div class="block">
                <div class="container">
                    <span class="btn bg-danger">Назад</span>
                    <h1 class="title">Изменить категорию</h1>
                    <form class="form">
                        <div class="form-control">
                            <label form="name">Название категории</label>
                            <input 
                                value=""
                                id="name" 
                                type="text" 
                                placeholder="Введите категорию" 
                                required 
                            />
                        </div>
                        <button class="btn bg-warning" type="submit">Изменить</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>